.content-box {
  padding: 16px;
  background-color: #ffffff;

  .table-result-text {
    margin-bottom: 10px;
  }
}

.search-bar {
  margin-bottom: 16px;
}

.ant-table-cell {
  vertical-align: middle;
}
