.content-box {
  padding: 16px;
  margin-bottom: 16px;
  background-color: #ffffff;

  .first-column {
    background-color: #fafafa;
  }
}

.search-bar {
}

.ant-table-cell {
  vertical-align: middle;
}
